# Introducción

¿Qué es SQL?

SQL por sus siglas en inglés significa Lenguaje de Consulta Estructurada (Structured Query Language), es un lenguaje de programación diseñado para actualizar, obtener, y calcular información en bases de datos relacionales.
[SQL](https://developer.mozilla.org/es/docs/Glossary/SQL#)

¿Para que sirve y cómo imaginas que lo puedes usar en tu carrera?

El lenguaje de programación SQL permite a los expertos en tecnología realizar tareas como las de seleccionar, insertar, actualizar y eliminar datos, así como también las de unir y consultar información de diferentes tablas en una base de datos.
[Función SQL](https://www.google.com/search?q=para+que+sirve+sql+en+ingenieria+industrial&client=safari&sca_esv=619c697d276fe56b&sca_upv=1&rls=en&ei=InIpZuHrC-_NkPIP0ZW5mAU&oq=para+que+sirve+SQL+en+ingenieria%C2%A0&gs_lp=Egxnd3Mtd2l6LXNlcnAiInBhcmEgcXVlIHNpcnZlIFNRTCBlbiBpbmdlbmllcmlhwqAqAggCMgUQIRigATIFECEYoAEyBRAhGKABMgUQIRigATIFECEYoAFI_UZQlANYszRwA3gBkAEAmAH4AaAByRKqAQYwLjEyLjO4AQHIAQD4AQGYAhGgAssRwgIKEAAYsAMY1gQYR8ICDRAAGIAEGLADGEMYigXCAgYQABgWGB7CAggQABiABBiiBMICCBAAGBYYHhgPwgIHECEYoAEYCpgDAIgGAZAGCpIHBjMuMTIuMqAHyEg&sclient=gws-wiz-serp)

Serviria en mi carrera para:

1. Gestión de bases de datos: SQL se utiliza para crear y gestionar bases de datos relacionales, que son fundamentales para el almacenamiento y la organización de datos en aplicaciones de ingeniería industrial. Esto incluye información sobre inventarios, procesos de producción, proveedores, clientes, y más.
2. Análisis de datos: SQL permite realizar consultas complejas en grandes conjuntos de datos. En la ingeniería industrial, esto puede ser útil para analizar el rendimiento de la producción, identificar tendencias en el uso de materiales, realizar análisis de costos, etc.
3. Automatización de tareas: Mediante SQL, es posible automatizar ciertas tareas relacionadas con la gestión de datos, como la generación de informes periódicos, la actualización de registros, la integración de sistemas, entre otros.
4. Optimización de procesos: Al analizar datos históricos utilizando SQL, los ingenieros industriales pueden identificar áreas de mejora en los procesos de producción, logística, gestión de inventarios, etc., lo que puede conducir a una optimización general de la eficiencia operativa.
5. Integración con otras herramientas: SQL se puede integrar con una variedad de herramientas y tecnologías utilizadas en ingeniería industrial, como sistemas de gestión de producción (ERP), sistemas de control de procesos (SCADA), herramientas de análisis de datos, entre otras.
[Uso en la Ingenieria SQL](https://chat.openai.com/c/cdd6ce0a-dd68-48c4-af56-301ac22fa90c)

¿Qué librerías hay para trabajar SQL en Google Colab?
* sqlite
* Elemento de lista
* pandas

In [4]:
import sqlite3

MySQL necesita conexiones e instalaciones; el benchmark es el mejor de todos los "Queries". La ventaja de trabajr con sqlite, es que podemos crear bases de datos por default, mientras que en MySQL es necesario crear la base de datos.

**Vamos a crear una base de datos**

Nuestra base de datos consistirá de libros.

In [5]:
# Para crear a la base de datos, es necesario conectar con el servidor de SQL.

con = sqlite3.connect("libros_db.sqlite")

Ahora, vamos a diseñar nuestra tabla

In [6]:


#creamos un cursor
cursor = con.cursor()
# Aqui vamos a ejecutar los datos necesarios para crear la tabla

cursor.execute('''
CREATE TABLE libros(
  id INTEGER PRIMARY KEY,
  titulo TEXT NOT NULL,
  autor TEXT NOT NULL,
  año INTEGER
)
''')

In [7]:
libros_datos = [("Harry Potter", "J.K.R", 1997), ("The Hobbit", "Tolkien", 1937), ("Better than the movies", "Lynn Painter", 2021), ("La Sombra de Viento", "Carlos Ruiz Zafon", 2001)]

cursor.executemany("""
INSERT INTO libros (titulo, autor, año) VALUES (?, ?, ?)""", libros_datos)
con.commit()

In [8]:
cursor.execute("SELECT* FROM libros")
libros = cursor.fetchall()
for libro in libros:
  print(libros)

[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafon', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafon', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafon', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafon', 2001)]